<!-- HTML Meta Tags -->
<title>KNOCK KNOCK!!!</title>
<meta name="description" content="Someone has sent a letter for you!!!">
  <meta name="keywords" content="Penny, letters, write letters, share letters, letter, pen, book, a bird for education, knowledge">
<meta name="author" content="Jatin">
<meta name="theme-color" content="#00000">
<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="KNOCK KNOCK!!!">
<meta itemprop="description" content="Someone has sent a letter for you!!!">
<meta itemprop="image" content="https://cdn.discordapp.com/attachments/934872748730241094/1189811696135569438/pngtree_vector_image.jpg">
<!-- Facebook Meta Tags -->
<meta property="og:url" content="">
<meta property="og:type" content="website">
<meta property="og:title" content="KNOCK KNOCK!!!">
<meta property="og:description" content="Someone has sent a letter for you!!!">
<meta property="og:image" content="https://cdn.discordapp.com/attachments/934872748730241094/1189811696135569438/pngtree_vector_image.jpg">
<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="KNOCK KNOCK!!!">
<meta name="twitter:description" content="Someone has sent a letter for you!!!">
<meta name="twitter:image" content="https://cdn.discordapp.com/attachments/934872748730241094/1189811696135569438/pngtree_vector_image.jpg">
<link rel="shortcut icon" href="https://cdn.discordapp.com/attachments/934872748730241094/1189797444830105621/Picsart_23-12-28_10-39-44-623.png">